body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    background-color: white;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
		z-index: 2;
}

nav ul {
    list-style-type: none;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: black;

}

nav li {
    margin: 0 50px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: transparent;
    opacity: 0.6;
}

.dropdown .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 200px;margin-top: 25px;
}

.dropdown .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 200px;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 15px;
}

.dropdown:hover .submenu {
    left: -30px;
}

.dropdown {
    position: relative;
}

.dropdown .submenu {
    top: 0;
    left: 0;
}

.cover {
    background: url("../photography/cover.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    position: relative;
    margin-top: 75px;
    z-index: 2;
		margin-bottom: 20px
}

.cover h1 {
    position: absolute;
    bottom: 20px;
    right: 100px;
    color: white;
}
.text0 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: white;
}

.text1 {
    margin-bottom: 400px;
    margin-left: 5%;
    text-align: left;
    position: absolute;
}
@media screen and (max-width: 768px) {
    .foto1, .foto2, .foto3 {
        max-width: 100%;
    }
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.image-container {
    position: relative;
    text-align: center;
    margin: 20px;
}

.foto1, .foto2, .foto3 {
    max-width: 30%;
	margin: 1%;
}
.foto1{margin-left: 50px}
.foto3{margin-right: 50px}

.text0 h2, .text0 h3 {
    color: white;
}

.box1, .box2, .middle-gap {
    flex: 1;
    margin-top: 100px;
}

.middle-gap {
    max-width: 10px;
}

.text2, .text3 {
    text-align: center;
    margin: 20px;
}


.foto4 {
    max-width: 90%;
	margin-left: 50px
}

.foto5, .foto6 {
    max-width: 90%;
    z-index: 1;
	margin-right: 50px
}
.foto6{margin-top: 5px}


.foto7, .foto8, .foto9, .foto10, .foto11{
	max-width: 700px;
}

.text4 {text-align: center}
h1 {
    font-size: 120px;
    margin-left: 100px;
    margin-top: 200px;
    color: black;
}

h2, h3 {
    font-size: 22px;
    margin: 0;
    padding-left: 50px;
    font-weight: 400;
    color: black;
}

h3 {
    opacity: 0.5;
}


h4, h5, h6 {
    font-size: 22px;
    margin: 0;
    padding-left: 50px;
}

h5 {
    font-weight: 500;
    margin-bottom: 30px;
}

.bottom h4, .bottom h5, .bottom h6 {
    padding-left: 80px;
}

.cover h5 {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
    background-color: transparent;
    opacity: 0.6;
}

hr {
    border: 1px solid black;
    margin: 40px 0;
}

.bottom {
    margin-top: 100px;
    color: black;
}

.footer {
    color: black;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-left: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 0vh;
}

